 body{
	
}
h1, h2, h3,h4, h5 {
	font-family: 'Oswald', sans-serif;
	color:#1F577C;
}

.logo{
	padding-top:10px;
	padding-bottom:10px;
}
.pretraga{
	padding-top:10px;
	padding-bottom:10px;
	text-align:right;
}


aside .specijalna-ponuda img{ width:80px; float:left; margin-right:10px; }
aside .specijalna-ponuda .cena{ font-size:140%; font-family:'Oswald', sans-serif; color:#1F577C; }
aside .specijalna-ponuda > div{ clear:both; margin:40px 0; }

.sadrzaj .cena{ font-size:220%; font-family:'Oswald', sans-serif; color:#1F577C; }
aside h3{
	padding-top:30px;
}

.footer {
	background-color:silver;
	text-align:center;
	font-size:80%;
	padding:30px;
}

.mainmenu{
	background-color:black;
	padding-top:10px;
	padding-bottom:10px;
}

.sadrzaj{
	padding-top:20px;
	padding-bottom:20px;
}
.kontakt-forma{
	padding:30px 0;
}


.sadrzaj article{
	display:inline-block;
	width:50%;
	box-sizing:border-box;
	vertical-align:top;
	display:inline-block;
	width:50%;
	margin:0;
	padding:20px;
	box-sizing: border-box;
}
.sadrzaj article {
	text-align:justify;
}
.sadrzaj article img{
	float:left;
	margin-right:20px;
	margin-bottom:120px;
}
